@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap");

:root {
  /* Responsive */
  --responsive-level1: 1180px;
  --responsive-level2: 600px;

  /* Main */
  --border_radius_main: 15px;

  /* Navbar */
  --navbar_height: 80px;
  --menu_fontsize: 1.1em;
  
  /* Introduction */
  --intro_greeting_fontsize_fullwidth: 2em;
  --intro_greeting_fontsize_1180: 1.5em;
  --intro_greeting_fontsize_768: 1.2em;

  --intro_myname_fontsize_fullwidth: 4.9em;
  --intro_myname_fontsize_1180: 4.0em;
  --intro_myname_fontsize_768: 1.8em;

  --intro_description_fontsize_fullwidth: 1.1em;
  --intro_description_fontsize_1180: 1.0em;
  --intro_description_fontsize_768: 0.9em;

  /* Reveal Label Color */
  --h1_label_color: #1e1e1e;
  --h2_label_color: #4f4f4f;
  --h_transition_duration: 0.5s;
  --content_transition_duration: 1s;
  --about_img_transition_duration: 3.5s;

  /* h1 */
  --h1_fontsize_fullwidth: 3em;
  --h1_fontsize_1180: 2.25em;

  /* h2 */
  --h2_fontsize_fullwidth: 2em;
  --h2_fontsize_1180: 1.5em;

  /* p */
  --p_fontsize_fullwidth: 1.2em;
  --p_fontsize_1180: 0.9em;

  /* li */
  --li_fontsize_fullwidth: 1.2em;
  --li_fontsize_1180: 0.9em;
}

* {
  font-size: 16px;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  scroll-behavior: smooth !important;
  scroll-margin: var(--navbar_height) !important;
}
