:root {
  --my_pic_container_width: 40%;
}

.my-description-container h1 {
  margin-bottom: 10px;
}

.intro-glass-container {
  height: 70%;
  width: 100%;
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: center;
}

.intro-glass-container .my-img-container {
  width: var(--my_pic_container_width);
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.intro-glass-container .my-img-container img {
  max-width: 100%;
  height: auto;
  object-fit: cover;
  -moz-box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.5);
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
}

.intro-glass-container .my-description-container {
  width: calc(100% - var(--my_pic_container_width));
  height: 100%;
  padding-left: 7%;
  padding-right: 10%;
  display: flex;
  flex-flow: column;
  justify-content: center;
}

#greeting {
  font-size: var(--intro_greeting_fontsize_fullwidth);
}
#my-name {
  text-align: center;
  font-size: var(--intro_myname_fontsize_fullwidth);
}
#description {
  font-size: var(--intro_description_fontsize_fullwidth);
}
#description span {
  font-size: var(--intro_description_fontsize_fullwidth);
}
.description-capital {
  font-size: 1.6em !important;
  /* font-weight: bold; */
  color: rgb(57, 175, 190);
}
.skill-color {
  color: rgb(57, 175, 190);
  font-size: 20px;
  font-weight: 500;
}
.intro-underly {
  margin-left: 30%;
  margin-top: 20px;
  margin-bottom: 20px;
  height: 1px;
  border-bottom: 1px solid black;
  width: 0;
  transition: width 2s;
}
.intro-underly.active {
  width: 70%;
}

@media screen and (max-width: 1180px) {
  .intro-glass-container > .my-img-container {
    display: none;
  }
  .intro-glass-container > .my-description-container {
    width: 80%;
  }
  .intro-glass-container > .my-description-container #greeting {
    font-size: var(--intro_greeting_fontsize_1180);
  }
  .intro-glass-container > .my-description-container #my-name {
    font-size: var(--intro_myname_fontsize_1180);
  }
  .intro-glass-container > .my-description-container #description span{
    font-size: var(--intro_description_fontsize_1180);
  }
  .intro-glass-container > .my-description-container #description {
    font-size: var(--intro_description_fontsize_1180);
  }
}

@media screen and (max-width: 768px) {
  .intro-glass-container > .my-img-container {
    display: none;
  }
  .intro-glass-container > .my-description-container {
    width: 80%;
  }
  .intro-glass-container > .my-description-container #greeting {
    font-size: var(--intro_greeting_fontsize_768);
  }
  .intro-glass-container > .my-description-container #my-name {
    font-size: var(--intro_myname_fontsize_768);
  }
  .intro-glass-container > .my-description-container #description span{
    font-size: var(--intro_description_fontsize_768);
  }
  .intro-glass-container > .my-description-container #description {
    font-size: var(--intro_description_fontsize_768);
  }
}
